body {
    /* margin: 10mm 5mm 5mm 5mm;
    padding-top: 1em; */
}

@page {
    size: letter;
}

button {
    display: none;
}

.dialog {
    display: none;
}

footer {
    position: static;
    float: bottom;
    bottom: 10px;
    margin-top: 270px;
}

footer p {
    text-align: center;
    margin-bottom: 0;
    margin-top:.5em
}

div#controls {
    display: none;
}
