const addReplacementDialogTemplate = `
<div id="addReplacementDialog" style="width:400px">
    <p class="errors" style="display: none;"></p>
    <form id="addReplacementForm" style="width: 400px">
        <p>Replace text in names or in addresses?</p>
        <p>
            <input id="add-name-replacement" type="submit" value="Add Name Text Replacement">

            <input id="add-address-replacement" type="submit" value="Add Address Text Replacement">

            <input id="cancel-add-replacement" type="submit" value="Cancel">
        </p>
    </form>
</div>
`;
