const columnDeleteDialogTemplate = `
<div id="columnDeleteDialog" style="width:400px">

    <p class="errors" style="display: none;"></p>

    <form id="addColumnForm" style="width: 400px">
        <p>
            <input id="deleteColumnButton" type="submit" value="Delete Column">

            <input id="cancelDeleteColumnButton" type="submit" value="Cancel">
        </p>
    </form>
</div>
`;