* {
    font-family: "Times New Roman";
}

body.page footer {
    text-align: center;
}

body.page footer p {
    margin-bottom: 0;
}

hr {
    margin-block-start: .5em;
    margin-block-end: .1em;
}

table.header th p {
    margin-block-start: 0em;
    margin-block-end: .35em;
    line-height: 1.2em;
}

table.header th p:first-child {
    margin-block-start: 0;
}

table.header th p:last-child {
    margin-block-end: 0em;
}

table.header th.main_title {
    text-align: center;
    color: #4b4b4b;
    width: 100%;
    font-variant-caps: small-caps;
}

table.header th.main_title_2 {
    vertical-align: top;
    text-align: center;
    font-weight: bold;
    color: #4b4b4b;
    width: 33%;
}

table.header th.main_title_3 {
    vertical-align: top;
    text-align: center;
    color: #4b4b4b;
    width: 33%;
}

table.keys {
    padding-top: .3em;
    width: 100%;
}

table.keys th, table.keys td {
    padding-top: 0;
    padding-bottom: 0;
}

table.keys th {
    vertical-align: top;
    text-align: right;
}

table.keys td {
    text-align: left;
    font-weight: normal;
}

table.meetings {
    border-spacing: 0px;
    width: 100%;
}

table.meetings tbody tr:not([style*="display: none"]):nth-child(odd) {
    background: #EEE;
    margin: 0px;
}

table.meetings th {
    text-align: left;
}

table.meetings th,
table.meetings td {
    border-spacing: 0;
    padding: 0px 5px;
    line-height: normal;
}

table.meetings th:last-child,
table.meetings td:last-child {
    padding-right: 0;
}
table.meetings thead tr th.title,
table.meetings thead tr th.section-title {
    padding-top: 2px;
    text-align: center;
}

table.meetings th.time_formatted,
table.meetings td.time_formatted,
table.meetings th.time,
table.meetings td.time {
    padding-left: 0;
    text-align: right;
}

table.meetings th.name,
table.meetings td.name {
}

table.meetings.multi-day th.name,
table.meetings.multi-day td.name {
}

table.meetings.service th.name,
table.meetings.service td.name {
}

table.meetings td.days {
}

table.meetings td.location {
}

table.meetings.service th.location,
table.meetings.service td.location {
}

table.meetings.single-day td.location {
}

table.meetings th.keys,
table.meetings td.keys {
    padding-right: 0;
}

.office-title {
    text-transform: uppercase;
}