const installDialogTemplate = `
<div id="installDialog">
    <p>Welcome to TSML Meeting Schedule Builder!</p>
    <p class="small">The meeting schedule builder will help connect you to your central office's scheduling system to generate a meeting schedule customised to your office.</p>
    <p class="small">You may select a pre-configured office or start fresh with one of your own. We would suggest a pre-configured office as it's easy to reconfigure for yours, and will show you to power of this schedule builder.</p>
    <p class="small">Once you're familiar with the software, you can create a new configuration, modify your configuration, or clone an existing configuration for your office.</p>
    <p>&nbsp;</p>
    {{{buildNewScheduleForm}}}
</div>
`;