const addConfigurationDialog = `
<div id="addConfigurationDialog" style="width:400px">
    <p class="errors" style="display: none;"></p>
    <form id="addConfigurationForm" style="width: 400px">
        <p>Configuration Name?</p>
        <p>
            <label><input type="text" id="configuration-name-input" name="configuration-name"></label>
        </p>
        <p>
            <input id="addConfigurationButton" type="submit" value="Add Configuration">

            <input id="cancelAddConfigurationButton" type="submit" value="Cancel">
        </p>
    </form>
</div>
`;