const addFilterDialogTemplate = `
<div id="filterDialog" style="width:400px">
    <p class="errors" style="display: none;"></p>
    <form id="filterForm" style="width: 400px">
        <p>Will you include or exclude groups with this filter?</p>
        <p>
            <label><input type="radio" name="filter-type" value="exclude"> Exclude</label>
            <label><input type="radio" name="filter-type" value="include"> Include</label>
        </p>
        <dl>
            <dt><label>Filter Type</label></dt>
            <dd>
                <select class="filter-target" name="filter-target">
                    <option value="">Select Filter Target</option>
                    <option value="attendanceOption">Attendance</option>
                    <option value="district_id">District ID</option>
                    <option value="types">Types</option>
                    <option value="name">Name contains</option>
                </select>
            </dd>
        </dl>
        <dl class="filter-targets filter-target-none">
            <dt>&nbsp;</dt>
            <dd>&nbsp;</dd>
        </dl>
        <dl class="filter-targets filter-target-attendanceOption" style="display: none;">
            <dt><label>Attendance Option</label></dt>
            <dd>
                <select class="attendance-option" name="attendance-option" multiple>
                    <option value="in-person">In Person</option>
                    <option value="online">Online</option>
                    <option value="hybrid">Hybrid (in person and online)</option>
                </select>
            </dd>
        </dl>
        <dl class="filter-targets filter-target-district_id" style="display: none;">
            <dt><label>District IDs</label></dt>
            <dd><input type="text" name="districts"></dd>
        </dl>
        <dl class="filter-targets filter-target-types" style="display: none;">
            <dt><label>Types (multi-choice)</label></dt>
            <dd>
                <select multiple class="keys" name="keys[]">
                {{#each types}}
                    <option value="{{key}}">{{{displaySymbol}}}: {{{description}}}</option>
                {{/each}}
                </select>
            </dd>
        </dl>
        <dl class="filter-targets filter-target-name" style="display: none;">
            <dt><label>Group Name</label></dt>
            <dd>
                <input type="text" name="name">
            </dd>
        </dl>
        <p>
            <input id="addFilterButton" type="submit" value="Add Filter">

            <input id="cancelAddFilterButton" type="submit" value="Cancel">
        </p>
    </form>
</div>
`;
