const configurationCloneDialogTemplate = `
<div id="cloneConfigurationDialog" style="width:400px">
    <p class="errors" style="display: none;"></p>
    <form id="configurationCloneForm" style="width: 400px">
        <p class="errors"></p>

        <p>Configuration Name?</p>

        <p>
            <label><input type="text" class="new-name"></label>
        </p>

        <p>
            <input class="submit" type="submit" value="Add Configuration">

            <input class="cancel" type="submit" value="Cancel">
        </p>
    </form>
</div>
`;