const configurationImportDialogTemplate = `
<div id="importConfigurationDialog">
    <form id="importConfigurationForm">
        <p><label>Name: <input type="text" name="name"></label></p>
        <p>
            Paste the configuration:<br>
            <textarea name="settings" style="font-size: 11pt; height: 80px; width: 450px;"></textarea>
        </p>
        <p><input type="submit" id="import-configuration" value="Import"></p>
    </form>
</div>
`;